<div class="cartelera-container">
    @if (authService.perfilActual()?.rol === 'gerente' || authService.perfilActual()?.rol === 'empleado') {
    <button class="btn-admin" type="button" (click)="volverAdmin()">
        Ir al Panel Admin
    </button>
    }
    
    <header class="main-header">
        <h1>PELICULAS EN CARTELERA</h1>
        <p>Elegí tu próxima película</p>
    </header>

    <section class="top3-section">
        <h2> TOP 3 DE LA SEMANA</h2>
        <div class="top3-grid" >
            @for (pelicula of top3Peliculas(); track pelicula.id) {
                <div class="top3-card" [routerLink]="['/pelicula-detalle', pelicula.id]">
                    <img [src]="pelicula.imagen" [alt]="pelicula.nombre" class="poster">
                    <div class="top3-info">
                        <h3>{{ pelicula.nombre }}</h3>
                        <button class="btn-detalles" [routerLink]="['/pelicula-detalle', pelicula.id]">Ver Detalles</button>
                    </div>
                </div>
            }
        </div>
    </section>

    <hr class="divisor">

    <section class="catalogo-section">
        <h2>BUSCADOR DE PELICULAS</h2>
        
        <div class="buscador-container">
            <input 
                type="text" 
                placeholder="Buscar por título de película..." 
                [ngModel]="terminoBusqueda()" 
                (ngModelChange)="cambiarBusqueda($event)"
                class="input-buscador">
        </div>
        
        <div class="filtros-container">
            <button 
                [class.activo]="generoSeleccionado() === 'Todos'"
                (click)="cambiarFiltro('Todos')">
                Todos
            </button>
            
            @for (genero of listaGeneros; track genero) {
                <button 
                    [class.activo]="generoSeleccionado() === genero"
                    (click)="cambiarFiltro(genero)">
                    {{ genero }}
                </button>
            }
        </div>

        <div class="resultados-grid">
            @for (pelicula of peliculasFiltradas(); track pelicula.id) {
                <div class="pelicula-card" [routerLink]="['/pelicula-detalle', pelicula.id]">
                    <img [src]="pelicula.imagen" [alt]="pelicula.nombre" class="poster">
                    <div class="pelicula-info">
                        <h3>{{ pelicula.nombre }}</h3>
                        <div class="tags">
                            <span [appEdadColor]="pelicula.restriccion_edad">{{ pelicula.restriccion_edad }}</span>
                            <span class="tag-duracion">{{ pelicula.duracion_minutos | formatoDuracion }}</span>
                        </div>
                        <p class="sinopsis">{{ pelicula.sinopsis }}</p>
                        <button class="btn-detalles" [routerLink]="['/pelicula-detalle', pelicula.id]">Ver Detalles</button>
                    </div>
                </div>
            }
        </div>

        @if (peliculasFiltradas().length === 0) {
            <div class="empty-state">
                <p>No encontramos películas para la búsqueda seleccionada.</p>
            </div>
        }
    </section>

</div>